.todo ol {
    padding: 0;

}

.todo li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px dashed cadetblue;
    margin-bottom: 1rem;
    
}

.todo li div {
    display: flex;
    flex-direction: row;
    gap: .5rem
}
