.todo > * {
  margin: 1rem 0;
}

.todo h4,
.todo ol,
.todo ul {
  margin: 0.5rem 0;
  padding: 0;
}

.todo button {
  margin: 0 0 0 .5rem;
  font-size: small;
}

.todo li {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0.8rem 0;
  padding: 0.2rem 0;
  border-bottom: 1px solid cadetblue;
}
