.hookbox {
  border: 5px double cadetblue;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 1rem;
}
/* 
.hookbox>div {
  padding: 0.5rem 1rem;
} */

.hookbox h2 {
  margin: 0;
}

.hookbox button {
  padding: 0.2rem 0.8rem;
  margin-right: 0.5rem;
  border-radius: 0.3rem;
}

.hookbox span {
  padding: 0.2rem 0.8rem;
  margin-right: 0.5rem;
  border-radius: 0.3rem;
}

.displaybox {
  font-size: x-large;
  margin: 0.5rem 0 0;
  border: 1px solid cadetblue;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.hookbox .divbox {
  border: 5px double cadetblue;
  border-radius: 5px;
  margin: 0.5rem 0;
}

.flexbox {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.flexbox > div {
  flex: 1;
  border: 1px solid cadetblue;
  border-radius: 5px;
  padding: 1rem;
}

.flexbox h3,
.flexbox h4 {
  margin: 0 0 0.5rem 0;
}

.flexbox pre {
  margin: 0;
}

pre + h4 {
  margin: 5rem;
}

.borderedbox {
  border: 1px dashed cadetblue;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.spacer {
  height: 1rem;
}

.codesnippet {
  border: 1px solid cadetblue;
  border-radius: 5px;
  padding: 0.5rem;
}

.formula {
    border: 3px solid pink;
    border-radius: 10px;
    display: inline-block;
    padding: .8rem 1rem;
    font-weight: bold;
    font-size: 1rem;
}

.formula span {
    margin: 0;
    padding: 0;
}

.var {
    color:cadetblue;
}

.emp {
    color: indianred;
}