body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0.5rem;
  color: slategray;
  font-family: "Courier New", Courier, monospace;
}

section {
  padding: 0.5rem;
}

button {
  border: 1px solid steelblue;
  background-color: cadetblue;
  color: white;
  font-size: medium;
}

button:hover {
  background-color: steelblue;
}

button:active {
  background-color: cornflowerblue;
}

a {
    color: inherit;
    text-decoration: inherit;
}

h1 {
    font-size: xx-large;
    color: cadetblue;
}

h2 {
    font-size: x-large;
    color: cadetblue;
}

h3 {
    font-size: large;
    color: cadetblue;
}