.about h1 {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.about .tagline {
    margin-top: .5rem;
    font-size: larger;
    font-weight: bold;
    color: cadetblue;
  }

.about .wds {
  color: indianred;
  margin: 1.5rem 0 0.5rem;
  font-size: .9rem;
}
