header {
  border-radius: 0.5rem;
  padding: 1rem;

  background-color: cadetblue;
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header logo {
  font-size: xx-large;
  font-weight: bold;
}

.header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  gap: 0;
}

.header li {
  border-radius: 0.2rem;
  padding: 0.2rem;
}

.header a {
  color: white;
  text-decoration: none;
  padding: .5rem;
  border-radius: .2rem;
}

.header a:hover {
  background-color: steelblue;
  font-weight: bold;
}

.header a:active {
    border: 1px solid white;
}
