.header {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;

  background-color: cadetblue;
  color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.logo {
  color: whitesmoke;
  font-size: xx-large;
  font-weight: bolder;
}

.header nav {
}

.header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
}

.header li {
  border-radius: 0.2rem;
  padding: 0.2rem 0.7rem;
  width: 10rem;
}

.header a {
  color: white;
  text-decoration: none;
  border-radius: 0.2rem;
}

.header a:hover {
  background-color: whitesmoke;
  color: cadetblue;
  font-weight: bold;
}

.header a:active {
  border: 1px solid white;
}
