.formula {
  margin: 0;
  border: 2px solid rgb(240, 199, 199);
  border-radius: 10px;
  display: inline-block;
  padding: 0.8rem 0.8rem 0.6rem;
  font-weight: bold;
  font-size: .9rem;
}

.formula .var {
  color: cadetblue;
}

.formula .func {
  color: indianred;
}
