.hookbox {
  border: 5px double cadetblue;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

.hookbox button {
  padding: 0.2rem 0.8rem;
  margin-right: 0.5rem;
  border-radius: 0.3rem;
}

.hookbox span {
  padding: 0.2rem 0.8rem;
  margin-right: 0.5rem;
  border-radius: 0.3rem;
}

.display {
  padding: 0.2rem 0.8rem;
  margin: 1rem 0;
  font-size: xx-large;
}

.tagline {
  font-size: larger;
  font-weight: bold;
  color: cadetblue;
}

.wds {
  color: indianred;
}
