.showHide {
  margin-bottom: 1rem;
}

.showHide > .toggleButton {
  color: indianred;
  background-color: white;
  border: 1px solid indianred;
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
}

.showHide .codeBox > * {
    display: flex;
    gap:1rem;
    margin-top: 1rem;
}

.showHide .codeBox > * > * {
    flex: 1;
    background-color: white;
    border: 1px solid indianred;
    border-radius: 5px;
    padding: 0 .5rem;
    font-size: .9rem;
}

.codeBox h3 {
    color:indianred;
    font-weight: normal;
    margin: 0.5rem 0 0;
    font-size: medium;
}

.codeBox pre {
    margin: 0 0 .5rem;
    font-size: .9rem;
}